# LaTeX report folders
CV_project_1_nguyen_kim_phuoc_2212717/
CV_project_2_nguyen_kim_phuoc_2212717/

# Requirement PDFs
CV-project-1.pdf
CV-project-2.pdf
HD-BTL-CV.pdf

# Claude config
.claude/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
